<div class="header-main">
    <nav >
        <div class="header-statusbar">
            <div class="logo">
                <img src={{locationImg}} alt="" class="logo_img">
                PharmaPlace
            </div>
            <div class="menuItems">
                <img src={{menu_chat}} alt="" class="menu_img">
                <img src={{menu_msg}} alt="" class="menu_img">
                <img src={{menu_news}} alt="" class="menu_img">
                <img src={{menu_user}} alt="" class="menu_img">
            </div>
            <div class="user">
                <img src={{user_icon}} alt="user_icon" class="user_icon"/>
                <div>
                    <div class="user_name">{{user_name}}</div>
                    <div>Pharmacy</div>
                </div>
                <img src={{user_feed}} alt="" class="news_img">            
            </div>
        </div>
    </nav>
</div>