.chats-main {
    margin-right: 260px;
    margin-left: 260px;

    .title {
        color: #0A423D;
        font-size: 32px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        margin-top: 39px;
        margin-bottom: 60px;
        text-align: center;
    }
}
