.chats-main {
    padding-right: 260px;
    padding-left: 260px;
    background-color: #F2F5FF;
    height: calc(100vh - 211px);

    .title {
        color: #0A423D;
        font-size: 32px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        padding-top: 39px;
        padding-bottom: 60px;
        text-align: center;
    }

    .chats-window {
        display: flex;
    }
}
