.main {
    border-radius: 20px;
    background: rgba(209, 235, 255, 0.75) ;
    padding-bottom: 21px;
    height: calc(100vh - 389px);
    
    position: relative;

    .log_header {
        position: absolute;
        left: 15px;
        top: 15px;
        right: 15px;
        width: calc(100% - 30px);
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
        display: flex;
        
        background: #0A423D;
        border-radius: 20px;
        z-index: 1;
        

        .user_input {
            display: flex;
            justify-content: space-between;
            width: 100%;
            .user {
                display: flex;
                align-items: center;
                .user_name {
                    font-weight: 600;
                    color: white;
                }
                .user_icon {
                    border: 2px solid white;
                    border-radius: 20px;
                    height: 47px;
                    width: 47px;
                    margin-right: 18px;
                }      
            }
        }

        .camera {
            margin-right: 24px;            
            margin-left: 29px;
        }        
    }

    .union {
        position: absolute;
        right: 50%;
        bottom: 86px;
        width: 63px;
        height: 56px;
        background-color: #0A423D;
        border-radius: 20px;
        z-index: 1;

        .unionIcon {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .send_msg {
        position: absolute;
        bottom: 7px;
        left: 15px;
        right: 15px;
        width: calc(100% - 30px);   
        z-index: 1;    
    }
    .chat_content {
        position: absolute;
        right: 15px;
        left: 15px;
        z-index: 0;        
        overflow: auto;
        height: calc(100vh - 389px);
        padding-right: 18px;        
    }
}