.main {
    .container {
        position: relative;
        display: flex;
        align-items: center;
        input {        
            height: 56px;
            width: 100%;
            padding-left: 61px;
            padding-right: 12%;
            border-radius: 20px;
            border: 0.5px solid #A5A5A5;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;            
        }    
        .fistIcon {
            position: absolute;
            left: 20px;
            cursor: pointer;
        }    

        .send {
            position: absolute;
            right: 0px;
            height: 100%;
            width: 56px;
            background-color: #0A423D;
            border-radius: 20px;
            cursor: pointer;

            .secondIcon {
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

        }

        ::placeholder {
            color: #A5A5A5;
        }
    }
}